// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #00a59a,
  secondary:  #4385f5,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

//Colors
$primary:         #00a59a;
$primary_right:   #026b6a;
$secundary_left:  #1FA3F5;
$secundary_right: #345CB3;
$gray:            #b7c4cb;
$light:           #f4f4f4;

//Scrollbar
::-webkit-scrollbar,
*::-webkit-scrollbar {
display: none;
}


//Buttons
.btn {
  box-shadow: 0px 2px rgba(0,0,0,0.3)!important;
  text-transform: initial!important;
}

.btn-gradient-primary {
  background: -webkit-gradient(left right, $secundary_left, $secundary_right);
  background: -o-linear-gradient(bottom right, $secundary_left, $secundary_right);
  background: -moz-linear-gradient(bottom right, $secundary_left, $secundary_right);
  background: linear-gradient(to bottom right, $secundary_left, $secundary_right);
  color: $light!important;
 }

.btn-gradient-secundary {
  background: -webkit-gradient(left right, $primary, $primary_right);
  background: -o-linear-gradient(bottom right, $primary, $primary_right);
  background: -moz-linear-gradient(bottom right, $primary, $primary_right);
  background: linear-gradient(to bottom right, $primary, $primary_right);
  color: $light!important;
  }

.btn-sign-in {
  color: $primary!important;
}

.btn-menu {
  background: -webkit-gradient(left right, $primary, $primary_right);
  background: -o-linear-gradient(bottom right, $primary, $primary_right);
  background: -moz-linear-gradient(bottom right, $primary, $primary_right);
  background: linear-gradient(to bottom right, $primary, $primary_right);
  color: $light!important;
  font-size: 3em!important;
  border-radius: 20px!important;
}

//Backgroud Login/Register
.bgLoginRegister{
  background-image: url(../../assets/imgs/bg1.png);
  background-size: 100%;
}

//Slide
.slide1{
  background-image: url(../../assets/imgs/bg1.png);
  background-size: 100%;
}

.slide2{
  background-image: url(../../assets/imgs/bg2.png);
  background-size: 100%;
}

//Inputs
.input-login {
  border-radius: 64px!important;
  padding: 0 2.6rem!important;
  margin: 0.4rem 0.2rem!important;
  height: 2.8em!important;
  font-size: 1.6rem!important;
  border: 2px solid #fff!important;
}

.input-perfil {
  border-radius: 64px!important;
  padding: 0 2.6rem!important;
  margin: 0.4rem 0.2rem!important;
  height: 2.8em!important;
  font-size: 1.6rem!important;
  border: 1px solid $primary!important;
}

.icon-login {
  color: $gray;
}

// Menu
.menu-doador {
  background-image: url(../../assets/imgs/menu.png);
  background-size: 100%;
  height: 150px;
  padding: 40px;
}

// Barra de pesquisa
.barraPesquisa {
  background-color: $primary!important;
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

.item-md ion-icon[item-left] + .item-inner {
  margin-left: 0px!important;
}

.button-round-md {
  padding: 23px 0!important;
}

.button-md {
  height: 2.8em!important;
  margin: 0.4rem 0.2rem!important;
  padding: 0px 1em!important;
}


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
